<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ランダム文字列生成ジェネレータ</title>
</head>
<body>
	<h1>ランダム文字列ジェネレータ</h1>
	<form  action="/random" method="post">
		<p>
			<select name="charLength">
				<option th:each="i : ${#numbers.sequence(5, 10)}" th:value="${i}" th:text="${i}+ '文字'" th:selected="${i == charLength}"></option> 
			</select>
			
			<input type="checkbox" name="withNumber" value="true" th:checked="${withNumber}" />数字を含める
			<input type="checkbox" name="withAlphabet" value="true" th:checked="${withAlphabet}" />英字を含める<br />
			<input type="number" name="createdCount" th:value="${createdCount}" />個生成する
		</p>
		<p>
			<button>作成する</button>
		</p>
	</form>
	<hr />
	<p th:each="random : ${randomList}" th:text="${random}"></p>
</body>
</html>